#! /usr/bin/env -S bash
# shellcheck disable=SC2034

# nostream settings
NOSTREAM_SECRET=''
#
SERVER_AES_KEY_HEX=''
CARD_WRITER_PUBKEY=''
#
FEDERATION_ID='berereQQPerkQQrererere'  # 44444444-aaaa-4444-aaaa-444444444444

# ledger settings
LEDGER_PRIVATE_KEY=''
LEDGER_PUBLIC_KEY=''

# urlx settings
URLX_PRIVATE_KEY=''
URLX_PUBLIC_KEY=''

# card settings
CARD_PRIVATE_KEY=''
CARD_PUBLIC_KEY=''

# LNBits settings
LNBITS_ADMIN_KEY=''
LNBITS_INVOICE_READ_KEY=''
LNBITS_ENDPOINT=''
LNURLP_URI=''
