#! /usr/bin/env -S bash
# shellcheck disable=SC2034

# nostream settings
NOSTREAM_SECRET=''
#
SERVER_AES_KEY_HEX='00112233445566778899aabbccddeeff'
CARD_WRITER_PUBKEY='0000111122223333444455556666777788889999aaaabbbbccccddddeeeeffff'

# ledger settings
LEDGER_PRIVATE_KEY=''
LEDGER_PUBLIC_KEY=''

# urlx settings
URLX_PRIVATE_KEY=''
URLX_PUBLIC_KEY=''

# card settings
CARD_PRIVATE_KEY=''
CARD_PUBLIC_KEY=''

# LNBits settings
LNBITS_ADMIN_KEY='1eb5cad43c784fb481e65b404a00dcbd'
LNBITS_INVOICE_READ_KEY='6855b7569eab484ca14ec6038d14b59f'
LNBITS_ENDPOINT='http://lnbits:3004'
LNURLP_URI='https://lnbits.lawallet.local/lnurlp/api/v1/lnurl/cb/dLWu8y'
